<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="My Hybrid Porfolio Suite" parallel="tests">

<test name="Login Test">
    <classes>
        <class name="testCases.LoginTest" ></class>  
    </classes>
</test>
<test name="Create Portfolio Test">
    <classes>
        <class name="testCases.CreatePortfolioTest" ></class>  
    </classes>
</test>
<test name="Add Stock Test">
    <classes>
        <class name="testCases.AddStockTest" ></class>  
    </classes>
</test>

</suite>
